#carouselExampleAutoplaying{
    margin: auto;
}

.img{
    height: 500px;
    object-fit: cover;
}

.container {
    border: none;
    color:black;
}

body {
    background-image: url(hexagon2.jpg);
}